In [2]:
#Importamos librerias
import pandas as pd
import json
import ast
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Se extraen los datos desde el archivo 'users_items.json', se convierte en Dataframe y se guarda como csv

#Cargar el archivo
ruta_items = r'D:\Desktop\proyecto entrega 1\json\\australian_users_items.json'


# Se lee de cada línea del dataset
filas_items = []
with open(ruta_items, 'r', encoding='utf-8') as f:
   for line in f.readlines():
       filas_items.append(ast.literal_eval(line))

# Se convierte en dataframe
user_items = pd.DataFrame(filas_items)

user_items.to_csv("user_items.csv", index=False)

print("OK")

OK

In [6]:
#Se visualiza los datos extraidos en el dataframe
user_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [7]:
#Se verifican los tipos de datos para cada columna y la cantidad de nulos
def info_nulos(dataframe):
    datos = {"Columna": [], "tipo_de_dato": [], "%_no_nulos": [], "%_nulos": [], "nulos": []}

    for columna in dataframe.columns:
        no_nulos = (dataframe[columna].count() / len(dataframe)) * 100
        datos["Columna"].append(columna)
        datos["tipo_de_dato"].append(dataframe[columna].apply(type).unique())
        datos["%_no_nulos"].append(round(no_nulos, 2))
        datos["%_nulos"].append(round(100-no_nulos, 2))
        datos["nulos"].append(dataframe[columna].isnull().sum())

    df_info = pd.DataFrame(datos)
        
    return df_info

info_nulos(user_items)

       Columna      tipo_de_dato  %_no_nulos  %_nulos  nulos
0      user_id   [<class 'str'>]       100.0      0.0      0
1  items_count   [<class 'int'>]       100.0      0.0      0
2     steam_id   [<class 'str'>]       100.0      0.0      0
3     user_url   [<class 'str'>]       100.0      0.0      0
4        items  [<class 'list'>]       100.0      0.0      0

In [8]:
#Se normalizan los datos 
user_items = pd.json_normalize(filas_items, record_path=['items'], meta=['steam_id','items_count','user_id', 'user_url'] )  
user_items

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [9]:
#Verificamos si hay nulos
def info_nulos(dataframe):
    datos = {"Columna": [], "tipo_de_dato": [], "%_no_nulos": [], "%_nulos": [], "nulos": []}

    for columna in dataframe.columns:
        no_nulos = (dataframe[columna].count() / len(dataframe)) * 100
        datos["Columna"].append(columna)
        datos["tipo_de_dato"].append(dataframe[columna].apply(type).unique())
        datos["%_no_nulos"].append(round(no_nulos, 2))
        datos["%_nulos"].append(round(100-no_nulos, 2))
        datos["nulos"].append(dataframe[columna].isnull().sum())

    df_info = pd.DataFrame(datos)
        
    return df_info

info_nulos(user_items)

            Columna     tipo_de_dato  %_no_nulos  %_nulos  nulos
0           item_id  [<class 'str'>]       100.0      0.0      0
1         item_name  [<class 'str'>]       100.0      0.0      0
2  playtime_forever  [<class 'int'>]       100.0      0.0      0
3   playtime_2weeks  [<class 'int'>]       100.0      0.0      0
4          steam_id  [<class 'str'>]       100.0      0.0      0
5       items_count  [<class 'int'>]       100.0      0.0      0
6           user_id  [<class 'str'>]       100.0      0.0      0
7          user_url  [<class 'str'>]       100.0      0.0      0

Analizamos la columna 'user_id' que a pesar que debe ser unica, se encuentra repetida porque un solo usuario puede jugar variado pero se compara la duplicidad en relacion con "item_id", "item_name" y "steam_id"

In [10]:
df_items_repetidos_id = user_items[['user_id', 'item_id', 'item_name', 'steam_id']].duplicated().sum() #Cantidad de valores repetidos 
print("El numero de 'user_id' repetidos en relación con 'item_id', 'item_name' y 'steam_id' es de:", df_items_repetidos_id)

El numero de 'user_id' repetidos en relación con 'item_id', 'item_name' y 'steam_id' es de: 59127

In [11]:
#df que contiene solo las filas duplicadas (excepto la primera ocurrencia) 
df_items_repetidos_id  = user_items[['user_id', 'item_id', 'item_name', 'steam_id']][user_items[['user_id', 'item_id','item_name','steam_id']].duplicated(keep=False)] 
df_items_repetidos_id

,user_id,item_id,item_name,steam_id
4344,76561198156664158,4000,Garry's Mod,76561198156664158
4345,76561198156664158,33910,Arma 2,76561198156664158
4346,76561198156664158,33930,Arma 2: Operation Arrowhead,76561198156664158
4347,76561198156664158,219540,Arma 2: Operation Arrowhead Beta (Obsolete),76561198156664158
4348,76561198156664158,400,Portal,76561198156664158
...,...,...,...,...
4898223,76561198080057659,213670,South Park™: The Stick of Truth™,76561198080057659
4898224,76561198080057659,221910,The Stanley Parable,76561198080057659
4898225,76561198080057659,261030,The Walking Dead: Season Two,76561198080057659
4898226,76561198080057659,273110,Counter-Strike Nexon: Zombies,76561198080057659
4898227,76561198080057659,730,Counter-Strike: Global Offensive,76561198080057659

In [12]:
#Elimina ;as filas repetidas y mantiene la primera aparición
user_items= user_items.drop_duplicates(subset=['user_id','item_id','item_name','steam_id'], keep='first')

user_items

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,user_url
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
5153204,346330,BrainBread 2,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153205,373330,All Is Dust,0,0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153206,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153207,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
5153208,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [13]:
#Se eliminan debido a que no sera utilizadas 
user_items= user_items.drop(['playtime_2weeks', 'user_url', 'steam_id'], axis=1)
user_items.columns

Index(['item_id', 'item_name', 'playtime_forever', 'items_count', 'user_id'], dtype='object')

In [14]:
user_items

,item_id,item_name,playtime_forever,items_count,user_id
0,10,Counter-Strike,6,277,76561197970982479
1,20,Team Fortress Classic,0,277,76561197970982479
2,30,Day of Defeat,7,277,76561197970982479
3,40,Deathmatch Classic,0,277,76561197970982479
4,50,Half-Life: Opposing Force,0,277,76561197970982479
...,...,...,...,...,...
5153204,346330,BrainBread 2,0,7,76561198329548331
5153205,373330,All Is Dust,0,7,76561198329548331
5153206,388490,One Way To Die: Steam Edition,3,7,76561198329548331
5153207,521570,You Have 10 Seconds 2,4,7,76561198329548331
5153208,519140,Minds Eyes,3,7,76561198329548331

Guardamos todo en un csv

In [4]:
user_items.to_csv('australian_user_items_limpia.csv',index=False, encoding='utf-8')
print(f'Se guardó el archivo ')

Se guardó el archivo