In [1]:
#importamos las librerias
import pandas as pd
import json
import ast
import warnings
warnings.filterwarnings("ignore")
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [2]:
#Cargar el Json
ruta_items= "D:\Desktop\proyecto entrega 1\json\\australian_user_reviews.json"

# Se lee de cada línea del dataset
filas_items = []
with open(ruta_items, 'r', encoding='utf-8') as f:
   for line in f.readlines():
       filas_items.append(ast.literal_eval(line))

# Se convierte en dataframe
user_review = pd.DataFrame(filas_items)

user_review.to_csv("user_reviews.csv", index=False)

print("OK")

OK

In [3]:
user_review

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [4]:
#Verificamos los tipos de datos y los nulos
def info_nulos(dataframe):
    datos = {"Columna": [], "tipo_de_dato": [], "%_no_nulos": [], "%_nulos": [], "nulos": []}

    for columna in dataframe.columns:
        no_nulos = (dataframe[columna].count() / len(dataframe)) * 100
        datos["Columna"].append(columna)
        datos["tipo_de_dato"].append(dataframe[columna].apply(type).unique())
        datos["%_no_nulos"].append(round(no_nulos, 2))
        datos["%_nulos"].append(round(100-no_nulos, 2))
        datos["nulos"].append(dataframe[columna].isnull().sum())

    df_info = pd.DataFrame(datos)
        
    return df_info

info_nulos(user_review)

    Columna      tipo_de_dato  %_no_nulos  %_nulos  nulos
0   user_id   [<class 'str'>]       100.0      0.0      0
1  user_url   [<class 'str'>]       100.0      0.0      0
2   reviews  [<class 'list'>]       100.0      0.0      0

In [5]:
#La columna id_user debe se runica entonces comparamos duplicados
def verifica_duplicados_por_columna(df, column):
 
   duplicados = df[df.duplicated(subset=[column])]
   return duplicados

duplicados = verifica_duplicados_por_columna(user_review, 'user_id')

duplicados

,user_id,user_url,reviews
456,bokkkbokkk,http://steamcommunity.com/id/bokkkbokkk,"[{'funny': '', 'posted': 'Posted September 24,..."
1182,ImSeriouss,http://steamcommunity.com/id/ImSeriouss,"[{'funny': '', 'posted': 'Posted January 10, 2..."
1456,76561198062039159,http://steamcommunity.com/profiles/76561198062...,"[{'funny': '', 'posted': 'Posted August 24, 20..."
1477,76561198045009232,http://steamcommunity.com/profiles/76561198045...,"[{'funny': '', 'posted': 'Posted October 31, 2..."
1746,nitr0ticwolf,http://steamcommunity.com/id/nitr0ticwolf,"[{'funny': '', 'posted': 'Posted December 12, ..."
...,...,...,...
17819,76561198076474887,http://steamcommunity.com/profiles/76561198076...,"[{'funny': '', 'posted': 'Posted April 12.', '..."
17916,yolofaceguy,http://steamcommunity.com/id/yolofaceguy,"[{'funny': '', 'posted': 'Posted October 31, 2..."
18028,76561198075591109,http://steamcommunity.com/profiles/76561198075...,"[{'funny': '', 'posted': 'Posted December 26, ..."
18234,76561198092022514,http://steamcommunity.com/profiles/76561198092...,"[{'funny': '', 'posted': 'Posted July 3.', 'la..."
18309,SuchGayMuchWow,http://steamcommunity.com/id/SuchGayMuchWow,"[{'funny': '', 'posted': 'Posted July 18, 2015..."

In [6]:
user_id = 'SuchGayMuchWow'
user_reviews = user_review[user_review['user_id'] == user_id]['reviews']

for review_list in user_reviews:
    for review in review_list:
        print(review['review'])
    print('-' * 40)

10/10 too many children with mikes.
----------------------------------------
10/10 too many children with mikes.
----------------------------------------

In [7]:
user_id = 'yolofaceguy'
user_reviews = user_review[user_review['user_id'] == user_id]['reviews']

for review_list in user_reviews:
    for review in review_list:
        print(review['review'])
    print('-' * 40)

from the creaters of the walking dead, i present to you, the wolf among us. a twisted an unhappy place where crimes are made in the town of the fables. Ecperience one of the most mind-bending, jaw-dropping twists you will see in all of gaming history...well, some of gaming history. SPOILERS: i really liked how bigby turns into his true form to fight all the bloody marys... its just like when neo fought all the agent smiths in the matrix. what i didnt really like is when i chose to lock the crooked man up it glitches my game and i start from the near begining where bigby fought the crooked man's crew, exept the guy who runs a strip club wasnt there. so i was really confused. but anyway i really recommend this game if you want twists and ♥♥♥♥ed up scenes.
this game is awesome,this game is ♥♥♥♥ed up and this game is so sad and depressing. if you want these types of games i would strongly reccomend youto buy it. its worth your money
----------------------------------------
from the creaters of the walking dead, i present to you, the wolf among us. a twisted an unhappy place where crimes are made in the town of the fables. Ecperience one of the most mind-bending, jaw-dropping twists you will see in all of gaming history...well, some of gaming history. SPOILERS: i really liked how bigby turns into his true form to fight all the bloody marys... its just like when neo fought all the agent smiths in the matrix. what i didnt really like is when i chose to lock the crooked man up it glitches my game and i start from the near begining where bigby fought the crooked man's crew, exept the guy who runs a strip club wasnt there. so i was really confused. but anyway i really recommend this game if you want twists and ♥♥♥♥ed up scenes.
this game is awesome,this game is ♥♥♥♥ed up and this game is so sad and depressing. if you want these types of games i would strongly reccomend youto buy it. its worth your money
----------------------------------------

In [8]:
#eliminamos una de las filas porque son identicas
user_review = user_review[~user_review.duplicated(subset='user_id', keep='first')]

def verifica_duplicados_por_columna(df, column):
 
   duplicados = df[df.duplicated(subset=[column])]
   if duplicados.empty:
       print("No hay duplicados en la columna '{}'".format(column))
   else:
       return duplicados

duplicados = verifica_duplicados_por_columna(user_review, 'user_id')

duplicados

No hay duplicados en la columna 'user_id'

In [9]:
#Revisamos que datos contienen las listas ubicadas en reviews
user_review['reviews'][10]

[{'funny': '',
  'posted': 'Posted June 11.',
  'last_edited': '',
  'item_id': '440',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'mt bom'},
 {'funny': '',
  'posted': 'Posted August 25, 2014.',
  'last_edited': 'Last edited July 30, 2015.',
  'item_id': '304930',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'É muito bom'}]

In [10]:
#separamos todo para poder hacer un mejor review 
unpacked_data = []
for index, row in user_review.iterrows():
    user_id = row['user_id']
    user_url = row['user_url']
    for review_dict in row['reviews']:
        review_dict['user_id'] = user_id
        review_dict['user_url'] = user_url
        unpacked_data.append(review_dict)

user_review = pd.DataFrame(unpacked_data)

In [11]:
user_review

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637,http://steamcommunity.com/id/js41637
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637,http://steamcommunity.com/id/js41637
...,...,...,...,...,...,...,...,...,...
58425,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,76561198312638244,http://steamcommunity.com/profiles/76561198312...
58426,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,76561198312638244,http://steamcommunity.com/profiles/76561198312...
58427,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,LydiaMorley,http://steamcommunity.com/id/LydiaMorley
58428,,Posted July 20.,,730,No ratings yet,True,:D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley
58429,,Posted July 2.,,440,No ratings yet,True,so much fun :D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley

In [12]:
#revisamos de nuevo a ver si hay nulos
def info_nulos(dataframe):
    datos = {"Columna": [], "tipo_de_dato": [], "%_no_nulos": [], "%_nulos": [], "nulos": []}

    for columna in dataframe.columns:
        no_nulos = (dataframe[columna].count() / len(dataframe)) * 100
        datos["Columna"].append(columna)
        datos["tipo_de_dato"].append(dataframe[columna].apply(type).unique())
        datos["%_no_nulos"].append(round(no_nulos, 2))
        datos["%_nulos"].append(round(100-no_nulos, 2))
        datos["nulos"].append(dataframe[columna].isnull().sum())

    df_info = pd.DataFrame(datos)
        
    return df_info

info_nulos(user_review)

       Columna      tipo_de_dato  %_no_nulos  %_nulos  nulos
0        funny   [<class 'str'>]       100.0      0.0      0
1       posted   [<class 'str'>]       100.0      0.0      0
2  last_edited   [<class 'str'>]       100.0      0.0      0
3      item_id   [<class 'str'>]       100.0      0.0      0
4      helpful   [<class 'str'>]       100.0      0.0      0
5    recommend  [<class 'bool'>]       100.0      0.0      0
6       review   [<class 'str'>]       100.0      0.0      0
7      user_id   [<class 'str'>]       100.0      0.0      0
8     user_url   [<class 'str'>]       100.0      0.0      0

In [13]:
#Se crea la columna 'sentiment_analysis' 

def analisis_sentimientos(review):
  sentimiento = analyzer.polarity_scores(review)
  if sentimiento['compound'] <-0.5:
      return 0 # Malo
  elif sentimiento['compound'] > 0.5:
      return 2 # Positivo
  else:
      return 1 # Neutral


user_review['sentiment_analysis'] = user_review['review'].apply(analisis_sentimientos)

#Reemplazar la columna 'review' con la columna 'sentiment_analysis'
user_review['review'] = user_review['sentiment_analysis'] #
# Rellena los datos nulos con 1
user_review['review'] = user_review['review'].fillna(1) 
#elimina la columna review
user_review = user_review.drop('review', axis=1)

In [14]:
user_review

,funny,posted,last_edited,item_id,helpful,recommend,user_id,user_url,sentiment_analysis
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,js41637,http://steamcommunity.com/id/js41637,2
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,js41637,http://steamcommunity.com/id/js41637,2
...,...,...,...,...,...,...,...,...,...
58425,,Posted July 10.,,70,No ratings yet,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2
58426,,Posted July 8.,,362890,No ratings yet,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2
58427,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2
58428,,Posted July 20.,,730,No ratings yet,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2
58429,,Posted July 2.,,440,No ratings yet,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2

In [15]:
#Primero se debe manejar el formato de la fecha debido a que vienen de diferentes formas
def transform_date(date_str):
   # Dividir la cadena por espacios
   parts = date_str.split()

   # Obtener el día y el mes
   day = parts[2].replace(',', '')
   month = parts[1]

   # Mapear el nombre del mes a su número correspondiente
   month_dict = {
       'January': '01', 'February': '02', 'March': '03', 'April': '04', 'May': '05', 'June': '06',
       'July': '07', 'August': '08', 'September': '09', 'October': '10', 'November': '11', 'December': '12'
   }
   if month in month_dict:
       month = month_dict[month]

   # Obtener el año si está presente, si no, usar 1900
   year = parts[-1] if len(parts) == 4 else '1900'

   # Formatear la fecha
   formatted_date = f"{year}-{month}-{day}"
   
   return formatted_date

user_review['posted'] = user_review['posted'].apply(transform_date)

In [16]:
user_review

,funny,posted,last_edited,item_id,helpful,recommend,user_id,user_url,sentiment_analysis
0,,2011.-11-5,,1250,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2
1,,2011.-07-15,,22200,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1
2,,2011.-04-21,,43110,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2
3,,2014.-06-24,,251610,15 of 20 people (75%) found this review helpful,True,js41637,http://steamcommunity.com/id/js41637,2
4,,2013.-09-8,,227300,0 of 1 people (0%) found this review helpful,True,js41637,http://steamcommunity.com/id/js41637,2
...,...,...,...,...,...,...,...,...,...
58425,,1900-07-10.,,70,No ratings yet,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2
58426,,1900-07-8.,,362890,No ratings yet,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2
58427,1 person found this review funny,1900-07-3.,,273110,1 of 2 people (50%) found this review helpful,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2
58428,,1900-07-20.,,730,No ratings yet,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2
58429,,1900-07-2.,,440,No ratings yet,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2

In [17]:
#sacamos el año
user_review['year_review'] = pd.to_datetime(user_review['posted'], errors='coerce').dt.year #crea la nueva columna llamada year_review

In [18]:
user_review

,funny,posted,last_edited,item_id,helpful,recommend,user_id,user_url,sentiment_analysis,year_review
0,,2011.-11-5,,1250,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2,2011.0
1,,2011.-07-15,,22200,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,2011.0
2,,2011.-04-21,,43110,No ratings yet,True,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2,2011.0
3,,2014.-06-24,,251610,15 of 20 people (75%) found this review helpful,True,js41637,http://steamcommunity.com/id/js41637,2,2014.0
4,,2013.-09-8,,227300,0 of 1 people (0%) found this review helpful,True,js41637,http://steamcommunity.com/id/js41637,2,2013.0
...,...,...,...,...,...,...,...,...,...,...
58425,,1900-07-10.,,70,No ratings yet,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,NaN
58426,,1900-07-8.,,362890,No ratings yet,True,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,NaN
58427,1 person found this review funny,1900-07-3.,,273110,1 of 2 people (50%) found this review helpful,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2,NaN
58428,,1900-07-20.,,730,No ratings yet,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2,NaN
58429,,1900-07-2.,,440,No ratings yet,True,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,2,NaN

In [19]:
cantidad_nulos = user_review['year_review'].isnull().sum()
cantidad_nulos

9932

In [20]:
user_review['year_review'].describe()

count    48498.000000
mean      2014.148150
std          0.842611
min       2010.000000
25%       2014.000000
50%       2014.000000
75%       2015.000000
max       2015.000000
Name: year_review, dtype: float64

In [21]:
#Con base a la media se procede a llenar los vacios con la media de esta, es decir 2014
user_review['year_review'] = user_review['year_review'].fillna(2014) 
user_review['year_review'] = user_review['year_review'].astype(int)

In [22]:
#Se eliminan columnas debido a que no sera utilizadas en el modelo
user_review= user_review.drop(['funny', 'last_edited', 'helpful','user_url', 'posted'], axis=1)
user_review.columns

Index(['item_id', 'recommend', 'user_id', 'sentiment_analysis', 'year_review'], dtype='object')

In [23]:
user_review

      item_id  recommend            user_id  sentiment_analysis  year_review
0        1250       True  76561197970982479                   2         2011
1       22200       True  76561197970982479                   1         2011
2       43110       True  76561197970982479                   2         2011
3      251610       True            js41637                   2         2014
4      227300       True            js41637                   2         2013
...       ...        ...                ...                 ...          ...
58425      70       True  76561198312638244                   2         2014
58426  362890       True  76561198312638244                   2         2014
58427  273110       True        LydiaMorley                   2         2014
58428     730       True        LydiaMorley                   2         2014
58429     440       True        LydiaMorley                   2         2014

[58430 rows x 5 columns]

se revisa que no hayan nulos

In [24]:
def info_nulos(dataframe):
    datos = {"Columna": [], "tipo_de_dato": [], "%_no_nulos": [], "%_nulos": [], "nulos": []}

    for columna in dataframe.columns:
        no_nulos = (dataframe[columna].count() / len(dataframe)) * 100
        datos["Columna"].append(columna)
        datos["tipo_de_dato"].append(dataframe[columna].apply(type).unique())
        datos["%_no_nulos"].append(round(no_nulos, 2))
        datos["%_nulos"].append(round(100-no_nulos, 2))
        datos["nulos"].append(dataframe[columna].isnull().sum())

    df_info = pd.DataFrame(datos)
        
    return df_info

info_nulos(user_review)

              Columna      tipo_de_dato  %_no_nulos  %_nulos  nulos
0             item_id   [<class 'str'>]       100.0      0.0      0
1           recommend  [<class 'bool'>]       100.0      0.0      0
2             user_id   [<class 'str'>]       100.0      0.0      0
3  sentiment_analysis   [<class 'int'>]       100.0      0.0      0
4         year_review   [<class 'int'>]       100.0      0.0      0

guardamos todo en un csv

In [25]:
user_review.to_csv('australian_user_reviews_limpia.csv',encoding='utf-8' )
print(f'Se guardó el archivo ')

Se guardó el archivo